[Unit]
Description=Webhook to listen for planet purchases from BtcTransmuter

[Service]
ExecStart=/usr/bin/webhook -hooks /home/reid/emailer/emailer.json -verbose
User=reid
Group=reid

[Install]
WantedBy=multi-user.target
